@font-face {
  font-family: 'ArialRounded';
  src: local('ArialRounded'),url(./fonts/arlrdbd.ttf);
}
body {
  margin: 0;
  font-family: 'ArialRounded';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
